
## <summary>policy for uno</summary>


########################################
## <summary>
##	Transition to uno.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`uno_domtrans',`
	gen_require(`
		type uno_t, uno_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, uno_exec_t, uno_t)
')


########################################
## <summary>
##	Execute uno server in the uno domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`uno_initrc_domtrans',`
	gen_require(`
		type uno_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, uno_initrc_exec_t)
')


########################################
## <summary>
##	Search uno lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`uno_search_lib',`
	gen_require(`
		type uno_var_lib_t;
	')

	allow $1 uno_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read uno lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`uno_read_lib_files',`
	gen_require(`
		type uno_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, uno_var_lib_t, uno_var_lib_t)
')

########################################
## <summary>
##	Manage uno lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`uno_manage_lib_files',`
	gen_require(`
		type uno_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, uno_var_lib_t, uno_var_lib_t)
')

########################################
## <summary>
##	Manage uno lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`uno_manage_lib_dirs',`
	gen_require(`
		type uno_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, uno_var_lib_t, uno_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a uno environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`uno_admin',`
	gen_require(`
		type uno_t;
		type uno_initrc_exec_t;
		type uno_var_lib_t;
	')

	allow $1 uno_t:process { ptrace signal_perms };
	ps_process_pattern($1, uno_t)

	uno_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 uno_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, uno_var_lib_t)

')

