# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=UNO Core
Comment=UNO Core QT main network
GenericName=UNO Digital Currency QT client main network
Exec=uno-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/uno.png
MimeType=x-scheme-handler/uno;
Categories=X-Office;X-Finance;
Keywords=internet;uno;zuno;uno;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
